* {margin: 0}

%center {
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    position: relative;
    height: 100%;
    width: 100%;
}

#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    margin-top: 20px;

    h1 {
        span {
            text-decoration: line-through;
        }
    }

    .boxes {
        flex-direction: column;
        height: 90vw;
        position: absolute;
        top: 0;
        margin: auto;
        left: 0;
        right: 0;
        user-select: none;

        .headers {
            width: 42vw;
            display: flex;
            justify-content: space-between;
            font-size: 2rem;
            margin: auto;
        }
    }

    .grid {
        position: relative;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-gap: 2px;
        width: 50vw;
        height: 50vw;
        margin: auto;

        .box {
            flex: 15%;
            cursor: pointer;
            @extend %center;
            flex-basis: 15%;
            background: red;
            font-size: 1rem;
            color: black;
            align-content: center;
            word-break: break-word;
            margin: 1%;
            max-width: 180px;
            transition: 0.2s background ease;
            padding: 1%;

            &.clickad {
                transition: 0.2s background ease;
                background: blue!important;
            }
        }
    }
}

@media only screen and (max-width: 770px) {
    #app {
        height: 100%;
        width: 100%;
        position: absolute;

        
    .boxes {

        .headers {
            width: 75vw;
        }
    }

        .grid {
            width: 90vw;
            height: 90vw;

            .box {
                flex: 15%;
            }
        }
    }
}